
.showRecipeWrapper{
    background-color: #2f2542;
    height: 100vh;
    .searchWrapper{
        width: 100vw;
        height: 9vh;
        display: flex;
        z-index: 999;
        position: fixed;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);

        .formWrapper{
                display: flex;
                align-items: center;
                justify-content: center;

            .formWrapper__input{
                transition-duration: .3s;
                padding: 3px 10px;
                border: 3px solid transparent;
                border-style: none solid;
                border-radius: 10px;;
                background-color: rgb(230, 230, 230);
            }
            .formWrapper__input:focus{      
                outline: none;
                background-color: transparent;
                color: #999;
                border: 3px solid rgb(0, 204, 240);
                border-style: none solid;
                border-radius: 10px;;
            } 
            .btn{
                background-color: transparent; 
                border: 1px dashed #999;
                border-radius: 10px;
                margin-left: 10px;
                cursor: pointer;
                transition-duration: .4s;
            }
            .btn svg{
                transform: scale(1);
                fill: rgb(230, 230, 230);
            }
            .btn:hover{
                border: 1px solid white;    
                background-color: white;         
            }
            .btn:active{
                background-color: transparent;  
            }
            .btn:hover svg{
                fill: #2a2c39;
            }
      
        }              
    }
    .gitHubBtn{
        position: absolute;
  
        right: 10px;
        padding: 1vh;
        background-color: transparent;
        fill: white;
        transition-duration: .3s;
    }
    .gitHubBtn:hover{
        fill: #999;
    }
    .hideHelper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .secondSectionWrapper{
            background-color: rgb(211, 211, 211);
            width: 40vw;
            height: 40vh;
            position: relative;
            .recipeCounter{
                position: absolute;
                right: 45%;
                top: -45px;
                padding: 5px 10px;
                border-radius: 40px;
                border: 1px solid #a0a0a0a0;
                color: white;
            }

            .sortBtn{
                position: absolute;
                top: -34px;
                left: 0;
                background-color: transparent;
                color: #a0a0a0;
                border: 1px solid #a0a0a0;
                padding: 3px 6px;
                cursor: pointer;
                .setSort{
                    color: white;
                }
            }
            .switchBtns{
                position: absolute;
                top: -40px;
                right: 0;

                .changeButton{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    fill: #a0a0a0a0;
                }
                .changeButton:hover{                    
                    fill: white;
                }
                .previous{
                    transform: rotate(180deg) translateY(4px);
                }   
            }
            .recipesWrapper{
                width: 700px;
                height: 40vh;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 1000px) {
    .showRecipeWrapper{
        height: 6100px;
    }

    .secondSectionWrapper{
        width: 95vw !important;
        
        .recipeCounter{
            display: none !important;
        }

        .recipesWrapper{           
            width: 100% !important;
            height: 100% !important;    
            overflow:visible !important;
        }

        .sortBtn{       
            left: 50% !important;
            transform: translate(-50%, -5vh) !important;
        }
    }

    .switchBtns{
        display: none;
    }    
  }

