
.showRecipeWrapper{
    background-color: #2a2c39;
    height: 100vh;
    .searchWrapper{
        width: 100vw;
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);

        .formWrapper{
                
            .formWrapper__input{
                transition-duration: .3s;
                padding: 3px 10px;
                border: 3px solid transparent;
                border-style: none solid;
                border-radius: 10px;;
            }
            .formWrapper__input:focus{      
                outline: none;
                border: 3px solid rgb(255, 255, 255);
                border-style: none solid;
                border-radius: 10px;;
            }  
        }              
    }
    .hideHelper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .secondSectionWrapper{
            background-color: rgb(211, 211, 211);
            width: 700px;
            height: 350px;
            position: relative;
            .recipeCounter{
                position: absolute;
                right: 45%;
                top: -45px;
                padding: 5px 10px;
                border-radius: 40px;
                border: 1px solid #a0a0a0a0;
                color: white;
            }

            .sortBtn{
                position: absolute;
                top: -34px;
                left: 0;
                background-color: transparent;
                color: #a0a0a0;
                border: 1px solid #a0a0a0;
                padding: 3px 6px;
                cursor: pointer;
                .setSort{
                    color: white;
                }
            }
            .switchBtns{
                position: absolute;
                top: -40px;
                right: 0;

                .changeButton{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    fill: #a0a0a0a0;
                }
                .changeButton:hover{                    
                    fill: white;
                }
                .previous{
                    transform: rotate(180deg) translateY(4px);
                }   
            }
            .recipesWrapper{
                width: 700px;
                height: 350px;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 700px) {
    .upBtn{
        width: 300px !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
    }
    .showRecipeWrapper{

        height: 4000px !important;
    }
    .secondSectionWrapper{   
        top: -150px;
        background-color: #2a2c39 !important    ;    
        width: 70px;
        height: 30px ;
        
        position: relative;

        .recipeCounter{
            display: none;
         }
         .changeButtonWrapper{
             display: none;
         }
        .sortBtn{    
           display: none;       
        }
        .switchBtns{
            display: none;
        }
        .recipesWrapper{
            overflow: visible !important;
        }
    }
    
    
  }

