$bg-img: url("../images/background.jpeg");
$text-color: #333;

@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-Regular.ttf") format("truetype");
}


.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: .1);
    z-index: 9999;

    .main2-wrapper{

    }
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #2f2542;


    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .main__header{
            font-family: 'Dancing Script';
            font-size: 2.5rem;
            color: white;
        }

        .svg-wrapper svg {
           width: 80%;
        }

        .text-wrapper{
            position: absolute;
            top: 40%;
            color: rgba(255, 255, 255, .9);
        }

        .formWrapper{
            display: flex;
            position: absolute;
            top: 50%;
            justify-content: center;
            align-items: center;
            
            
            a{
                padding: 0px 10px;
                margin-left: 5px;
                text-decoration: none;
                border: 1px dashed #888;
                transition-duration: .1s;
            }
            a:hover{
                border: 1px solid white;
            }
            a:visited{
                color: #888;
            }

            .formWrapper__input{
                background-color: transparent;
                border: 1px solid #888;
                padding: 6.5px 5px;
                color: #999;
            }
        }
    }
}
