.recipeWrapper{
    width: 40vw;
    height: 40vh;
    display: flex;
    position: relative;
    transition-duration: .3s;   
    .image{
        height: 40vh;
        width: 45%;       
    }
    .infoAboutRecipe{
        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        height: 40vh;
        font-size: 2vh;

        .title{
            text-align: center;
            font-size: 4vh;
            font-weight: bold;
            margin-bottom: 1vh;
        }
        .mealType{
            text-align: center;
            position: relative;
            padding: 10px 0px;
        }
        .mealType::before{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            background: sienna;
        }
        .mealType::after{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: sienna;
        }
        .recipeDescription{
            width: 85%;
            margin: 2vh auto 0px;
            text-align: center;   
        }     
        
        .infoWrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 2vh;

            .infoWrapperHelper{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 5px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto;              
                align-items: center;
                flex-direction: column;
    
                .tdWrapper{
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;

                    .recipeInfo:first-child{
                        padding-right: 1vw;
                    }
                  
                }
            }

            .showIngredientsBtn{
                width: 130px;
                margin: 0 auto;
                padding: 5px;
                border: none;
                color: #dbdbdb;      
                background-color: sienna;
                border-radius: 100px; 
                transition-duration: .2s;  
                cursor: pointer;    
            }
            .showIngredientsBtn:hover{
                transition-duration: .2s;    
                background-color: rgb(187, 107, 70);
                color: white;
            }
        }
      
        
    }
    
       .calories{
        position: absolute;
        font-weight:500;
        bottom: 13px;
        right: 5px;
       }
}

@media (max-width: 1000px) {
    .recipeWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100% !important;
        height: 500px ;
        margin-bottom: 10vh;
        background-color: rgb(211, 211, 211);
        color: white !important;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        .image{
            width: 95vw !important;
            height: 300px !important;
        }
        .infoAboutRecipe{
            position: static !important;
            width: 100%;

            .recipeDescription{
                display: none;
            }
        }
       
    }
    
}
