.header{
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(24, 24, 24, 0.42);
}

.mainLogo{
    fill: white;
    transform: scale(2) translateX(-5px);
}