@font-face {
    font-family:  'RalewayBold'; 
    src: local('RalewayBold'), url(./fonts/Raleway-Bold.ttf) format('truetype');

  }
  
.secondSectionWrapper{
    width: 100vw;
    height: 900px ;
    background: #2a2c39; 
    display: flex;   
    justify-content: center;
    align-items: center;    
    position: relative;

}

.hideHelper{
    display: none;
}

.formWrapper{
    position: absolute;
    top: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipesWrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    background: rgb(211, 211, 211);
}

.recipeCounter{
    position: absolute;
    top: 20%;
    border: 1px solid #a1a1a1;
    border-radius: 100px;
    padding: 10px 15px;
    color: white;
}

.changeButtonWrapper{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 800px;
    top: 20%;
    margin-top: 15px;
}
.changeButton{   
    background: transparent;
    width: 40px;
    height: 40px;
    border: 0;
    fill: #a1a1a1;
    cursor: pointer;
}
.changeButton:hover{
    fill: white;
}
.changeButton.previous{
    transform: rotate(180deg) translateY(3px);
}

.recipeWrapper{
    position: relative;
    display: flex;
    width: 500px;
    margin-right: 500px;
    background: rgb(128, 1, 1);
}


.infoAboutRecipe{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background: #d1d1d1;
}

.title{
    margin: -15px 0px 15px;
    font-family: RalewayBold;
    width: 90%;
    line-height: 40px;
    font-size: 40px;
}

.mealType{
    width: 300px;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type{
    padding: 10px;
}
.mealType::before{
    content: '';
    width: 100%;
    height: 1.5px;
    position: absolute;
    top: -10px;
    right: 0;
    background: sienna;
}
.mealType::after{
    content: '';
    width: 100%;
    height: 1.5px;
    position: absolute;
    bottom: -10px;
    right: 0;
    background: sienna;
}

.recipeDescription{
    padding: 10px 0px 0px;
    width: 60%;
    color: #2a2c39;
}

.tdWrapper{
    width: 300px;
    margin: 10px;
    display: flex;  
    justify-content: space-around;
}

.recipeInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.showIngredientsBtn{
    background: sienna;
    padding: 7px 20px;
    border: 2px solid sienna;
    border-radius: 200px;
    color:white;
    cursor: pointer;
    transition-duration: .1s;
}

.showIngredientsBtn:hover{
    transform: scale(1.1);
}

.calories{
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-weight: bold;
}

/* .animation{
    animation-name: cssAnimation;
  animation-duration:.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    0%   {background-color:red;}
    25%  {background-color:yellow; }
    50%  {background-color:blue;}
    75%  {background-color:green; }
    100% {background-color:red; }
  } */

.image{
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.searchWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchWrapper input{
    width: 180px;
    height: 20px;
    transition-duration: .1s;
}
.searchWrapper input:hover{
    transform: scale(1.05);    
}
.searchWrapper input:focus{
    transform: scale(1.1);    
}

button[type='submit']{
    width: 35px;
    height: 35px;
    background: url(./icons/magnifier.svg) center no-repeat;
    margin-left: 5px;
    border: 0;
    cursor: pointer;
    transition-duration: .1s;
}
button[type='submit']:hover{
    transform: scale(1.1);
}
button[type='submit']:active{
    transform: scale(1.2);
}

.sortBtn{
    margin: 10px 0px;
    border: 1px solid #a1a1a1;
    padding: 5px;
    background: transparent;
    color: #a1a1a1;
    cursor: pointer;
    transition-duration: .1s;
}
.sortBtn:hover{
    border: 2px solid #a1a1a1;
}
.setSort{
    color: white;
}

input{

    border-radius: 200px;
    padding: 5px 8px;
    border: 1px solid black;
    background: transparent;
}

input:focus{
    outline: none;
    border: 2px solid black;
}